.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    border: 2px solid rgb(116, 29, 90);
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 10px ;
}

.header_3{
    text-align: center;
    margin: 10px;
}
